//
   Created by sf on 2016/7/26.
header
   h1 如影随形
   h2 影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....
   div.logo
      a(href='/')
   nav(id='topnav')
      a(href='#') 首页
      a(href='about') 关于我
      a(href='newlist') 慢生活
      a(href='share') 模板分享
      a(href='new') 模板主题
