//-link(href='/stylesheets/style.css',rel='stylesheet'
link(href='/libs/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
link(href='/stylesheets/base.css',rel='stylesheet')
link(href='/stylesheets/index.css',rel='stylesheet')
link(href='/stylesheets/media.css',rel='stylesheet')
script(src='/libs/jquery/dist/jquery.min.js')