td, th {
    text-align: center !important;
}

.tab thead {
    background-image: url(../images/left-title-bg-h.png);
}

thead th {
    height: 30px;
    color: white;
    line-height: 30px !important;
    padding-bottom: 0 !important;
}

.add,.update {
    margin: 10px 5px;
    display: inline-block;
}
.hide_s{display: none}

.modal.fade {
    /*top: 30%;*/
    -webkit-transition: opacity .3s linear,top .3s ease-out;
    -moz-transition: opacity .3s linear,top .3s ease-out;
    -o-transition: opacity .3s linear,top .3s ease-out;
    transition: opacity .3s linear,top .3s ease-out;
}
.form-row{clear: both}
/*label{display: block}*/
/*input{height: 30px;line-height: 30px;display: inline-block;width: 100%;padding-left: 10px;}*/
.control-label {
    float: left;
    text-align: right;
}
.modal-footer{margin-top: 50px}
.margin{margin-bottom: 10px}