link(href='/admin/styles/Common.css',rel='stylesheet')
link(href='/admin/styles/Index.css',rel='stylesheet')
link(href='/admin/styles/Index2.css',rel='stylesheet')
link(href='/admin/styles/reg.css',rel='stylesheet')
script(src='/libs/jquery/dist/jquery.min.js')
script(src='/admin/scripts/reg.js')
script(src="/admin/scripts/easyResponsiveTabs.js")