//
   Created by sf on 2016/7/27.
extends ./layout

block content
   link(href='/libs/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
   link(href='/admin/styles/Index2.css',rel='stylesheet')
   div.header
      img.logo_admin(src='images/logo.png')
      label.logo-title 后台管理
      ul.inline
         li
                img(src='images/32/client.png')
                font &nbsp;欢迎您，#{ name}
         li.dropdown
            a.dropdown-toggle.mymsg(data-toggle='dropdown',href='#')
               img(src='images/32/166.png')
               font &nbsp;修改个人信息
               b.caret
            ul.dropdown-menu
               li
                  a(href='#') 修改密码
         li
            img(src='images/32/200.png')
            font &nbsp;
            a.loginout(href='logout') 退出
   .nav(style='padding-left:19%')
      ul.breadcrumb
         li
            img(src='images/32/5025_networking.png')
         li
            a(href='#') 首页
            span.divider >>
         li.active
   .container-fluid.content
      div.row-fluid
         div.col-md-2.col-sm-2.col-xs-12.content-left
            div.accordion
               div.accordion-group
                  div.accordion-heading
                     a.accordion-toggle(data-toggle='collapse',data-parent='#accordion2',href='#collapseOne')
                        img.left-icon(src='images/32/5026_settings.png')
                        span.left-title 系统设置
                  div.accordion-body.collapse.in(id='collapseOne')
                     div.accordion-inner
                        img.left-icon-child(src='images/32/4962_sitemap.png')
                        span.left-body 模块管理
                     div.accordion-inner
                        img.left-icon-child(src='images/32/4957_customers.png')
                        span.left-body 角色管理
                     div.accordion-inner
                        img.left-icon-child(src='images/32/4992_user.png')
                        span.left-body 用户管理
                     div.accordion-inner
                        img.left-icon-child(src='images/32/612.png')
                        span.left-body 单位管理
                     div.accordion-inner
                        img.left-icon-child(src='images/32/8.png')
                        span.left-body 字典管理
         div.col-md-10.col-sm-10.col-xs-12.pull-right.manager
            //模块管理
            div.Management
               .container-fluid.contents-right
                  .row-fluid
                     h4 模块列表
                     div.update
                        a.btn.btn-success(href='./addUser',id='addUser') 添加
                     div.w
                        div.span12
                           table.table.table-condensed.table-bordered.table-hover.tab
                              thead
                                 tr
                                    th ID
                                    th 姓名
                                    th 密码
                                    th 重置密码
                                    th 职业
                                    th 籍贯
                                    th 电话
                                    th Email
                                    th 更改日期
                                    th ——
                                    th ——
                              tbody(id='tbody0')
                           div.tr(id='page')
            //角色管理
            div.Management(style='display:none')
               .container-fluid.contents-right
                  .row-fluid
                     h4 角色列表
                     div.update
                        a.btn.btn-success(href='./addUser',id='addUser') 添加
                     div.w
                        div.span12
                           table.table.table-condensed.table-bordered.table-hover.tab
                              thead
                                 tr
                                    th ID
                                    th 姓名
                                    th 密码
                                    th 重置密码
                                    th 职业
                                    th 籍贯
                                    th 电话
                                    th Email
                                    th 更改日期
                                    th ——
                                    th ——
                              tbody(id='tbody1')
                           div.tr(id='page')
            //用户管理
            div.Management(style='display:none')
               .container-fluid.contents-right
                  .row-fluid
                     h4 用户列表
                     div.update
                         a.btn.btn-success(href='./addUser',id='addUser') 添加
                     div.w
                        div.span12
                           table.table.table-condensed.table-bordered.table-hover.tab
                              thead
                                 tr
                                    th ID
                                    th 姓名
                                    th 密码
                                    th ——
                                    th ——
                              tbody(id='tbody2')
                           div.tr(id='page')
             //单位管理
            div.Management(style='display:none')
               .container-fluid.contents-right
                  .row-fluid
                     h4 单位列表
                     div.update
                         a.btn.btn-success(href='./addUser',id='addUser') 添加
                     div.w
                        div.span12
                           table.table.table-condensed.table-bordered.table-hover.tab
                              thead
                                 tr
                                    th ID
                                    th 姓名
                                    th 密码
                                    th 重置密码
                                    th 职业
                                    th 籍贯
                                    th 电话
                                    th Email
                                    th 更改日期
                                    th ——
                                    th ——
                              tbody(id='tbody')
                                    tr
                                       td.author_id --
                                       td {item.user}
                                       td {item.password}
                                       td {item.re_password}
                                       td {item.professional}
                                       td {item.origin}
                                       td {item.tel}
                                       td {item.email}
                                       td {moment(item.time).format('YYYY-MM-DD HH:mm:ss')}
                                       td.btn.btn-success(style='display:table-cell' data-toggle='modal',data-target='#myModal',onclick='open_update()') 修改
                                       td.btn.btn-danger(style='display:table-cell' data-toggle='modal',data-target='#myModal',onclick='open_delete()') 删除
                           div.tr(id='page')
   div.clearfix
   div.foot
   script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
   script(src='/admin/scripts/Index.js')
   script(src='/admin/layer-v2.3/layer/layer.js')
   script(src='/admin/laypage-v1.3/laypage/laypage.js')
   //script(src='/admin/scripts/Index2.js')
